<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page }} | {{ app }} | {{ judul }}</title>
  </head>
  <body>
    <h1>{{ judul }}</h1>
    <h2>{{ app }} {{ page }} Page</h2>
    <p>Website ini dibuat dengan menggunakan DJANGO!</p>
    <ul>
      {# template tags #} {% for link, name in nav %}
      <li>
        <a href="{{ link }}"> {{name}} </a>
      </li>
      {% endfor %}
      <ul>
        {% for link, name in blogNav %}
        <li>
          <a href="{{ link }}"> {{name}} </a>
        </li>
        {% endfor %}
      </ul>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus,
      aliquam itaque hic quas reiciendis tenetur eligendi facere? Deserunt ab
      maxime molestiae velit reprehenderit laudantium similique provident hic.
      Expedita, sit illo? Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Aperiam iusto harum labore recusandae eius velit ratione beatae
      saepe sint repellendus veritatis ut nihil iste obcaecati doloremque,
      exercitationem voluptas molestiae similique. Lorem ipsum, dolor sit amet
      consectetur adipisicing elit. Nam provident autem rem labore ullam nihil,
      ad recusandae aliquid pariatur reprehenderit minus explicabo omnis sed
      commodi. Perferendis nulla in necessitatibus qui?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores saepe
      dolor ad laudantium iure cum eligendi aliquid? Suscipit, officia nemo! Eos
      velit ipsa vel illo omnis laudantium sed ipsum adipisci? Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Libero suscipit tempore consectetur
      ex pariatur corrupti non repellat incidunt eum atque, nemo iure vel sequi!
      Sunt tenetur nobis mollitia veniam a. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Dicta fuga accusamus quasi ab eveniet
      laborum similique omnis facilis nisi maxime rerum, consequuntur
      laudantium, iusto, soluta magnam temporibus debitis impedit nulla.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, provident
      sunt? Aperiam dignissimos qui neque corrupti saepe! Voluptate inventore,
      quidem ipsa quae dignissimos quo tempora dolorum ut minus, soluta in.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor
      voluptates cupiditate quae quia in ratione hic! Sunt velit quae neque,
      quibusdam pariatur qui, eum, vero minus alias quo nobis. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Neque odio unde soluta
      inventore tempore veritatis molestiae? Mollitia, ad, suscipit culpa
      deleniti amet ab sed placeat excepturi iusto tempore consequuntur harum.
    </p>

    <p>Contributor: {{ contributor }}</p>
    <p>
      Made by:
      <a href="https://reskyramadhandi.github.io" target="_blank"
        >{{ creator }}</a
      >
    </p>
  </body>
</html>
